.button {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    display: flex;
    position:absolute;
    top:0;
    left:0;

}