.box {
    margin: 10px;
    background-color: #ffffff;
    overflow: hidden;
    margin-block-start: 0%;
    max-height: 45vh;
}

.grid {
    min-height: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card-style {
    max-width: 30%;
  }